<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather Information</title>
</head>
<body>
    <h1>Weather Information</h1>
    <p>City: {{city}}</p>
    <p>Year: {{year}}</p>
    <p>Weather: {{weather.Weather}}</p>
    <p>Temperature: {{weather.Temperature}}</p>
    <p>Humidity: {{weather.Humidity}}</p>
    <p>Wind Speed: {{weather.Wind.Speed}}</p>
    <p>Wind Direction: {{weather.Wind.Direction}}</p>
</body>
</html>
